@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  transition: opacity, z-index, color ease-in-out 0.3s;
}


.gradient-background {
  background: linear-gradient(to right, #060a06 0%,#263e28 50%, #060a06 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.stickman-container {
  z-index: 1;
}